.navbar {
    /* position:absolute; */
    /* top:0; */
    z-index:10;
    /* background: rgb(5, 58, 14); opacity: 0.85;  */
    /* background: rgb(201, 219, 152); opacity: 0.85; */
    /* background: rgb(198, 212, 160); opacity: 0.85; */
    background: rgb(211, 230, 208); opacity: 0.85;

    box-shadow: 0 1px 1px 0 rgb(88, 85, 85);

    width:100%;
    
    
}

