.logo {
    height: 50px;
    width: 130px;
  }

.color-nav {
      background-color: #f1fff8;
      color: black;
  }

  /* .text-color {
    color: rgb(3, 3, 3);
  } */
 
  /* .nav-text{
    color:rgb(119, 37, 37);
  } */

  /* body {
      color: black;
  } */

  /* .nav-link {
      color: black;
  } */

  /* .navbar-toggler {
      color: black;
  } */