.carousel-caption {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 100px; 
    color:rgba(209, 20, 92, 0.712);
    text-shadow: 3px 3px 3px rgb(48, 44, 44); 
    text-align: center; 
    top: 50%;
    transform: translate(-20%, -90%);
    bottom:initial
}

.carousel-caption > h1 {
    text-align: center;
    top: 50%;
    transform: translateX(10%);
}

@media(max-width: 1090px) {
    .carousel-caption {
        font-size: 35px; 
    }
    .h1 {
        font-size: 20px;
    }
}


@media(max-width: 940px) {
    .carousel-caption {
        font-size: 25px; 
    }
    .carousel-caption > h1 {
        font-size: 15px;
    }
}

@media(max-width: 550px) {
    .carousel-caption {
        font-size: 15px; 
    }
    .carousel-caption > h1 {
        font-size: 15px;
    }
}
